.text--transform-none {
  text-transform: none !important;
}

.no-box-shadow {
  * {
    box-shadow: none !important;
  }
}

.text--dark {
  color: $dark;
}

.v-btn-actions-dialog {
  height: 32px !important;
  .v-btn__content{
    padding: 0 6px;
  }
}

.font-size--16px {
  font-size: 16px !important;
}

.custom-divider{
  border-color: $cloudy-blue !important;
}

@for $i from 1 through 5 {
  .br-#{$i} {
    border-radius: #{$i * 5}px;
  }
}


